{
  "presets": [
    ["env", { "modules": false,"useBuiltIns":"entry" }],
    "stage-2",
    ["es2015-ie"]
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [ "istanbul" ]
    }
   },
   "plugins": [["transform-runtime","component", [
    {
      "libraryName": "mint-ui",
      "style": true
    }
  ]]]
}
