    //公共的颜色
    $theme-color: #3399ff;//主题颜色
    .pageCount{
        text-align: right;
        background: #fff;
        padding:20px;
    }
    .footerButton{
        text-align: center;
        padding: 40px 0;
        border-top: solid 1px #e8e8e8;
    }
    .productBaseInfo {
        text-align: left;
        height: 20px;
        line-height: 20px;
        border-left: solid 4px $theme-color;
        color: #666;
        font-size: 16px;
        padding-left: 10px;
        margin-left: 15px;

    }
    .splineFrame{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .rightLine{
        margin-left: -18px;
        hr{
            border: none;
            border-bottom: solid 1px #ddd;
        }
    }
    input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
        -webkit-appearance:textfield;
    }
    input[type="number"]{
        -moz-appearance:textfield;
    }