/* 辅助元素 */

/* 分割线 */
.field-title{
    line-height: 18px;
    margin: 10px 0 16px;
    border-width: 1px 0 0;
    /* border-top:1px solid #eaeefb; */
    padding: 0;
    border-style: solid;
}
.field-title legend{
    padding-left: 10px;
    padding-right:10px;
    font-size: 15px;
    border-left: 5px solid #FF6419;
    font-weight:bold;/* 字体加粗 */
}


/* upload */
/*.el-upload--picture-card,*/
/*.el-upload-list--picture-card .el-upload-list__item{*/
    /*width: 120px !important;*/
    /*height: 120px !important;*/
/*}*/
.uploadImg{
    .el-upload--picture-card{
        width: 120px !important;
        height: 180px !important;
        line-height: 180px !important;
        margin-top: 5px;
    }
}
.create-upload{
    .el-upload--picture-card{
        width: 120px !important;
        height: 180px !important;
        line-height: 180px !important;
    }
}
.uploadImg1{
    .el-upload--picture-card{
        width: 180px !important;
        height: 220px !important;
        line-height: 220px !important;
        margin-top: 5px;
    }
}

/* 黑色按钮样式 */
.button-black{
    width:120px;
    background-color:#454545;
    color:#FFF;
    border: 1px solid #dcdfe6;
    border-color: #dcdfe6;
}
.button-black:hover, .button-black:focus{
    background: #585858;
    border-color: #454545;
    color: #fff;
    outline: none;
}

.el-row-table-page{
    padding: 5px 5px 5px 5px !important;
    background-color: #fff !important;
}

/* 页数下拉菜单 */
.el-pagination .el-input__inner{
    height: 28px;
    line-height: 28px;
}
.el-pagination .el-input--medium .el-input__icon{
    line-height: 28px;
}
/* 分页圆角 */
.el-pagination.is-background .btn-prev, .el-pagination.is-background .btn-next, .el-pagination.is-background .el-pager li{
    margin: 0 5px;
    min-width: 30px;
    border-radius: 60px;
}

.el-dialog__header{
    background-color: #fafafa;
    margin-bottom:10px;
    border-bottom:1px solid #ccc;
}

.el-dialog__footer{
    margin-top:10px;
    border-top:1px solid #ccc;
    padding:8px;
}

/* .el-input__inner{
    height: 22px !important;
    line-height: 22px !important;
} */
/* .el-menu-item is-active .submenu-title-noDropdown{
    background-color: #FF6419 !important;
    color:#fff !important;
}

.el-submenu.is-active .el-submenu__title{
    color: #FF6419 !important ;
}

#app .el-menu-item .is-active,#app .el-submenu .el-menu-item .is-active{
    background-color: #FF6419 !important;
    color:#fff !important;
}

#app .nest-menu .el-submenu > .el-submenu__title:hover, #app .el-submenu .el-menu-item:hover {
    background-color: #FF6419 !important;
} */