//首页设置 商品预售 新品特卖页面 弹框标题文字大小更改
.spesell,
.presell {
    .el-dialog__wrapper {
        .el-dialog {
            .el-dialog__header {
                .el-dialog__title {
                    font-size: 14px !important;
                }
            }
        }
    }
}

//商品编辑页面 图片上传的样式
.goods-edit {
    .el-textarea__inner {
        min-height: 130px !important;
        &:hover {
            border-color: #ddd;
        }
        &:focus {
            border-color: #FF6419;
        }
    }
    .box {
        .el-upload--text {
            width: 100%;
            &::after {
                content: '';
                position: absolute;
                width: 90px;
                height: 90px;
                top: 0;
                left: 0;
            }
        }
    }
}

.el-radio {
    margin-left: 0 !important;
}

//商品编辑页面 全局的 输入框背景颜色设置
.goods-edit {
    .el-input--medium .el-input__inner,
    .el-textarea__inner {
        background: #fafafa;
    } //输入框宽度设置
    .EarInput {
        width: 110px;
        height: 36px;
        .el-input__inner {
            background: #fafafa;
        }
    }
}

//店铺页面 弹框样式修改
.shop {
    .el-dialog {
        .el-dialog__header {
            background: #fafafa;
            padding: 8px 14px;
            .el-dialog__title {
                font-size: 14px;
                color: #333333;
            }
            .el-dialog__headerbtn {
                width: 40px;
                height: 40px;
                top: 0;
                right: 0;
                &:hover {
                    background: #f43b32;
                    .el-dialog__close{
                        color:white;
                    }
                }
            }
        }
        .pop-up-content{
           .el-checkbox-group{
               .el-col-8{
                   line-height: 30px;
               }
               .el-checkbox__label{
                color: #333333;
               }
           }
        }
    }
}

//特卖 预售页面 表单 行高设置
.spesell,
.presell {
    .el-table {
        .el-table__row {
            height: 110px;
        }
    }
}

.subtitle {
    .el-dialog {
        .el-dialog__header {
            .el-dialog__title {
                &::after {
                    content: '（备注：所选行业联动产品可见范围）';
                    color: #999999;
                    font-size: 14px;
                }
            }
        }
    }
}

//图片预览组件样式
.Img-preview {
    .el-dialog__wrapper {
        .el-dialog__header {
            background: none;
            padding: 0;
            border: none;
        }
        .el-dialog {
            background: none;
            width: 1080px;
            height: 610px;
            box-shadow: 0 0 0 0;
        }
        .el-dialog__body {
            border: none;
            padding: 0;
        }
        .el-dialog__close {
            color: white;
        }
    }
}

//全局的搜索 按钮样式
  .searchBtnFrame {
      border-top: solid 1px #ddd;
      margin-bottom: 15px;
      border-bottom: solid 15px #f0f0f0;
      padding: 20px 30px;
      text-align: center;
      .el-button {
          width: 100px;
          height: 32px;
          font-size: 12px;
          line-height: 8px;
      } 
  }

  //全局 搜索按钮宽度 高度 统一样式
  .UnifiedsearchBtn {
        width: 100px;
        height: 32px;
        font-size: 12px;
        line-height: 8px;
  }

  .el-dialog__footer {
      border-top: none!important;
  }

//公共的tab标签样式
  .el-table th.hedStyle {
      height: 5px !important;
  }

  .el-tabs__nav {
      margin-left: 30px;
  }

  .el-tabs__item {
      height: 50px;
      line-height: 50px;
  }
  //资产页面 公共的tab标签样式
      .DBNav{
          .el-tabs__item{
              font-size: 14px;
          }
      }
//资产 充值页面 换算图标
.recharge{
  .huansuanImg {
      width: 12px;
      height: 14px;
      background: url('../../assets/images/icons/icon-huansuan.png') no-repeat;
      background-size: 12px 14px;
      vertical-align: middle;
      display: inline-block;
  }
}

.activeListFrame{
    .el-dialog__body {
        padding: 30px 0;
        color: #606266;
        font-size: 14px;
    }
}

.companyBaseMsg{
    .wuyinpeiImg {
        display: inline-block;
        width: 16px;
        height: 16px;
        color: gray;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        background-color: white;
        border-radius: 100%;
        margin-left: 0;
        border:1px solid gray;
        cursor: pointer;
    }
}