@mixin bg($url){
  background-image:url($url)
}
/*颜色*/
$bg-color:#f5f5f5;

$bg-color-gray: #363636;
$bg-color-grayish: #424242;
$bg-color-white: #fff;
$font-color-gray: #999;
$font-color-black: #333;
$font-color-orange: #ff6419;
$line-color-gray: #4f4f4f;

$btnOrange:#ff6419;
$buttonOrange:#ff6419; /*初始按钮色*/
$overButtonOrange:#ff7a39; /*经过按钮色*/
$pressButtonOrange:#fa580a; /*按钮按下色*/
$leaveButtonStatus:#ff6419; /*鼠标离开色*/
$borderRadius:4px; /*圆角*/
$greyBorder: #ddd; /*边框颜色*/

$greyBorderEEE:#eee; /*边框颜色*/
$greyButton:#454545;/*灰色-初始按钮色*/
$greyOverButton:#666;
$color666:#666;
$greyPressButton:#333;
$greyLeaveButton:#454545;
@mixin bg($url){
  background-image:url($url)
}
.productRemark{
  width: 515px;
  padding-top: 9px;
  line-height: 20px;
  word-wrap: break-word;
  word-break: break-all;
}
.labelColor{
  color: #666;
}
$active:#ff6419; // 焦点颜色

$bg:#eeeeee; // 背景颜色

$commodityBg:#88abda;
.splitLine{
  border-bottom: solid 1px #ddd;
  margin-bottom: 30px;
}
.clearfix:after {
  content:"";
  display: block;
  clear:both;
}
.splitLine2
{
  border-bottom: solid 15px #E4E4E4;
}
.splitLineTop
{
  border-top: solid 15px #E4E4E4;
}
.table-td-right{
  padding-left: 20px;
}
.contentSplitLine{
  display: inline-block;
  width: 100%;
  height: 1px;
  border-bottom: solid 1px #ddd;
}
.inputText{
  border-radius: 6px;
  padding-left: 10px;
  width: 242px;
  height: 42px;
  border: solid 1px #ddd;
}
.inputText2{
  border-radius: 6px;
  padding-left: 10px;
  width: 310px;
  height: 42px;
  border: solid 1px #ddd;
}
.productDesc{
  width: 700px;
  border: solid 1px #ddd;
  border-radius: 4px;
  padding:10px
}
.table-td-left{
  padding-left: 20px;
}
.formFrameWidth{
  width: 900px;
}
.formWidth{
  width: 321px!important;
}
.productBaseInfo {
  height: 14px;
  line-height: 14px;
  border-left: solid 6px $leaveButtonStatus;
  color: $color666;
  font-size: 16px;
  padding-left: 10px;
  margin-left: 15px;
}
.rightLine{
  margin-left: -18px;
  hr{
    border: none;
    border-bottom: solid 1px #ddd;
  }
}
.splineFrame{
  min-width: 80%;
  white-space: nowrap;
  margin: 20px 0;
}
.cancelButtonClass{
  width: 60px;
  border-radius: 20px!important;
  color: #fff!important;;
  background: #454545!important;
}
.confirmButtonClass{
  width: 60px;
  border-radius: 20px!important;
}
.cancelBtnBg{
  background: #454545;
  color:#fff;
  width: 100px;
  height: 36px;
}
.confirmBtn{
  width: 100px;
  height: 36px;
}
.marRight{
  margin-right: 20px;
}
.marRight2{
  margin-right: 40px;
}
.searchBtn{
  background: $bg-color;
}
.mbottom{
  margin-bottom: 12px;
}
.allMargin{
  margin-bottom: 20px;
}
.remarkOverEllipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.remarkOverEllipsis2{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  white-space: nowrap;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
@mixin border-1px($color){
  position:relative;
  &:after{
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid $color;
    content: ''
  }
}
@mixin border-none(){
  &:after{
    display: none;
  }
}
@mixin bg-image($url)
{
  background-image:url($url + ".png");
}
@mixin bg($url){
  background-image:url($url)
}
